---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import Headline from '@/components/ui/Headline.astro';
import Hero from '@/components/widgets/Hero.astro';
import ProjectList from '@/components/widgets/ProjectList.astro';
import Layout from '@/layouts/PageLayout.astro';
import { findImage } from '@/utils/images';
import { getStaticPathsProjectList, projectListRobots } from '@/utils/project';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsProjectList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const images = [
  {
    src: (await findImage('@/assets/images/hero-5.png')) as string,
    alt: 'Projects',
  },
];

const metadata = {
  title: `Project${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: projectListRobots?.index && currentPage === 1,
    follow: projectListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <Hero slot="hero" images={images} imageClassName="h-[60vh]" />
  <section class="layout my-8 space-y-8 lg:my-16">
    <Headline title="Our Projects" className="mx-0" />

    {page.data.map((project, index) => <ProjectList project={project} reversed={index % 2 === 0} />)}
    <!-- <section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline
      subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
    >
      The Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
