---
import { SITE } from 'astrowind:config';
import { Icon } from 'astro-icon/components';
import Logo from '../Logo.astro';
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  links: Array<Link>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
  contacts?: Array<Link>;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light', contacts } = Astro.props;
---

<footer
  class:list={[
    { dark: theme === 'dark' },
    'not-prose relative border-t border-gray-200 text-foreground/70 dark:border-slate-800',
  ]}
>
  <div class="dark:bg-dark pointer-events-none absolute inset-0" aria-hidden="true"></div>
  <div
    class="intersect-once intersect-quarter intercept-no-queue relative mx-auto max-w-7xl px-4 py-8 sm:px-6 md:py-12 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <div class="flex flex-row flex-wrap justify-around gap-4 gap-y-8 sm:gap-8">
      <div class="space-y-4">
        <div class="mb-2 flex">
          <Logo />
        </div>
        <div>
          <h4 class="">PT Swakarya Mandiri Amerta</h4>
          <p class="italic">Planning, Engineering, and Grand Design Co.</p>
        </div>
        
        {
          contacts?.length ? (
              <ul class="flex flex-col gap-2">
                {contacts.map(({ text, icon, href }) => (
                  <li>
                    <a class:list={["text-sm flex flex-row gap-4",
                      { 'hover:underline': !!href },
                    ]} href={href}>
                    {icon && <Icon name={icon} class="h-5 w-5 text-primary" />}
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
          ) : (
            ''
          )
        }

        <div class="md:flex md:items-center md:justify-between ml-9">
          {
            socialLinks?.length ? (
              <div class="flex flex-col">
                <p class="text-xs">Find us on:</p>
                <ul class="mb-4 flex md:order-1 md:mb-0 rtl:-mr-2 rtl:ml-0 rtl:md:ml-0 rtl:md:mr-4">
                  {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                    <li>
                      <a
                        class="inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-primary/20 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
                        aria-label={ariaLabel}
                        href={href}
                        target="_blank"
                      >
                        {icon && <Icon name={icon} class="h-5 w-5 text-primary" />}
                        <Fragment set:html={text} />
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ) : (
              ''
            )
          }
        </div>
      </div>
      <div class="flex min-w-fit max-w-xs flex-1 flex-col justify-between gap-6">
        <div class="flex flex-col">
          {
            links.map(({ text, href }) => (
              <a class="border-b border-foreground p-2 transition duration-150 ease-in-out hover:underline" href={href}>
                <Fragment set:html={text} />
              </a>
            ))
          }
        </div>

        <p class="text-xs">
          Copyright {new Date().getFullYear()}
          <span class="font-bold">{SITE.name}</span>. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
